.entrance-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  position: relative;
}

/* Shared button style */
.entrance-btn {
  position: absolute;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 9999;
  pointer-events: auto;

  /* force visible for debug */
  background: transparent; /* semi-transparent red for debugging */
  outline: transparent;
}

/* Right: Personalized Portal */
.personal-btn {
  right: 10%;
  top: 30%;
  width: 30%;
  height: 50%;
}

.entrance-btn:focus,
.entrance-btn:focus-visible,
.entrance-btn:active {
  outline: none;
  box-shadow: none;
}

.entrance-btn {
  -webkit-tap-highlight-color: transparent; /* mobile */
}

.class-btn{
  left: 10%;
  top: 30%;
  width: 30%;
  height: 50%;
}
.personal-btn { right: 10%; top: 45%; width: 30%; height: 15%; }
.personal-btn-2 { right: 10%; top: 60%; width: 30%; height: 15%; } /* adjust */
